# macOS
.DS_Store

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Tableau
*.hyper
*.tde
*.twbr
*.twbx~

# dbt
target/
dbt_packages/
logs/

# Large/local data
data/raw/
data/processed/